@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Typescale settings */

h1, .fs-h1 {
	font-size: clamp(3rem, 2.5459rem + 1.8164vw, 3.999rem);
}

h2, .fs-h2 {
	font-size: clamp(2.25rem, 1.9094rem + 1.3623vw, 2.9993rem);
	font-weight: 450;
}

h3, .fs-h3 {
	font-size: clamp(1.875rem, 1.5912rem + 1.1352vw, 2.4994rem);
	font-weight: 450;
}

h4, .fs-h4 {
	font-size: clamp(1.5rem, 1.273rem + 0.9082vw, 1.9995rem);
	font-weight: 450;
}

h5, .fs-h5 {
	font-size: clamp(1.25rem, 1.0608rem + 0.7568vw, 1.6663rem);
		font-weight: 450;
}

h6, .fs-h6 {
	font-size: clamp(1.125rem, 0.9547rem + 0.6811vw, 1.4996rem);
	font-weight: 350;
}

p, .fs-p {
	font-size: clamp(0.7502rem, 0.6366rem + 0.4542vw, 1rem);
	font-weight: 350;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lexend', sans-serif;
	color: black;
}

/* Backoffice Content*/

.backoffice-content-container {
  display: flex;
	padding: 3.125rem 4rem 0 4rem;
  min-height: 100vh;
	gap: 1.5rem;
}

.side-menu-container {
  min-width: 15%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #E5E5E5;
	border-radius: 15px 15px 0 0;
	padding: 3.125rem;
	justify-content: space-between;
}

.side-menu-title-options-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.side-menu-options {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-size: 1.35rem
}

.side-menu-option a:hover {
	color: #00000075;
}

.back:hover {
	color: #00000075;
}

.main-content-container {
	background-color: #E5E5E5;
	width: 100%;
	border-radius: 15px 15px 0 0;
	display: flex;
	padding: 3.5rem 12.5rem;
  justify-content: center;
	gap: 5rem;
	align-items: center;
}

.main-content-info-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.main-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5.375rem;
}

.user-title-info {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: fit-content;
  gap: 2rem;
} 

.user-profile-picture {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  background-color: #EFEFEF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.title-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.user-info-container {
  display: flex;
  gap: 3rem;
}

.user-info-container-student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.user-info-up  {
  display: flex;
  gap: 3rem;
}

.user-info-bottom  {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-atribute-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.atribute-name-container {
  display: flex;
}

.atribute-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 3.75rem;
  background-color: #EFEFEF;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.atribute-value {
  font-size: 1.313rem;
  font-weight: 375;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.save-changes-btn {
  padding: 1.25rem 2.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: #E1A05B solid 2px;
  background-color: #E1A05B05;
  color: #E1A05B;
  font-size: 1.2rem;
  font-weight: 375;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.save-changes-btn:hover {
	background-color: #E1A05B;
	color: white;
}

.save-changes-btn:active {
	transform: scale(0.97);
}

.delete-user-btn {
  padding: 1.25rem 2.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: #CC4033 solid 2px;
  background-color: #E1A05B05;
  color: #CC4033;
  font-size: 1.2rem;
  font-weight: 375;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.delete-user-btn:hover {
	background-color: #CC4033;
	color: white;
}

.delete-user-btn:active {
	transform: scale(0.97);
}
