<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../../output.css">
</head>
<body>
    <div class="grid grid-cols-3">
        <div class="bg-primary">
            <img src="../../../../images/CardPrincipianteImage.png" alt="">
            <p>Principiante</p>
            <p>Inicia tu camino en la lengua de señas aprendiendo el abecedario, saludos y expresiones simples. Ideal para quienes comienzan desde cero.</p>
        </div>
    </div>
</body>
</html>